@font-face {
    font-family: studiofeixen-variable;
    src: url(https://itssharl.ee/fonts/studio-feixen-sans-variable.woff2) format("woff2"), url(https://itssharl.ee/fonts/studio-feixen-sans-variable.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(https://itssharl.ee/fonts/StudioFeixenSans-Bold.eot) format("embedded-opentype"), url(https://itssharl.eehttps://itssharl.ee/fonts/StudioFeixenSans-Bold.woff2) format("woff2"), url(/fonts/StudioFeixenSans-Bold.woff) format("woff"), url(https://itssharl.ee/fonts/StudioFeixenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(https://itssharl.ee/fonts/StudioFeixenSans-Book.eot) format("embedded-opentype"), url(https://itssharl.eehttps://itssharl.ee/fonts/StudioFeixenSans-Book.woff2) format("woff2"), url(/fonts/StudioFeixenSans-Book.woff) format("woff"), url(https://itssharl.ee/fonts/StudioFeixenSans-Book.ttf) format("truetype");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(https://itssharl.ee/fonts/StudioFeixenSans-Medium.eot) format("embedded-opentype"), url(https://itssharl.eehttps://itssharl.ee/fonts/StudioFeixenSans-Medium.woff2) format("woff2"), url(/fonts/StudioFeixenSans-Medium.woff) format("woff"), url(https://itssharl.ee/fonts/StudioFeixenSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(https://itssharl.ee/fonts/StudioFeixenSans-Regular.eot) format("embedded-opentype"), url(https://itssharl.eehttps://itssharl.ee/fonts/StudioFeixenSans-Regular.woff2) format("woff2"), url(/fonts/StudioFeixenSans-Regular.woff) format("woff"), url(https://itssharl.ee/fonts/StudioFeixenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #1a1a1a;
    color: #be95c4;
    width: 100%;
    height: auto;
    font-family: studiofeixen-variable, studiofeixen, Arial, Helvetica, sans-serif;
    letter-spacing: -.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variation-settings: "wght" 500, "wdth" 100;
    font-weight: unset;
    font-size: 1em;
    transition: .25s;
}

html {
    background-color: #f3f2f9;
    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
    height: auto;
    font-family: studiofeixen-variable, studiofeixen, Arial, Helvetica, sans-serif;
    letter-spacing: -.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variation-settings: "wght" 500, "wdth" 100;
    font-weight: unset;
    font-size: 1em;
    transition: .25s;
}

:root {
    --left-right-margin: 240px;
    --left-right-internal-margin: 24px;
    --top-margin: 240px;
    --top-internal-margin: 24px;
    --border-radius: 48px;
    --border: 2px;
}

:selection {
    background-color: #78ffd1;
    color: #606887;
    -webkit-text-stroke: 0;
}

p {
    font-size: 1.25rem;
    margin: 0;
    font-variation-settings: "wght" 500, "wdth" 100;
    text-transform: none;
}

a {
    font-size: 1.25rem;
    font-variation-settings: "wght" 500, "wdth" 125;
    color: #606887;
    text-transform: lowercase;
    text-decoration: none;
}

.page-head {
    display: flex;
    align-items: baseline;
}

hr {
    border-style: none;
    border-bottom: 0;
    border-top: var(--border) solid #606887;
}

.head-separator {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
    background-color: #606887;
}

h2 {
    margin: 0;
    font-weight: unset;
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 3rem;
    pointer-events: none;
}

.page-head .page-title {
    width: 100%;
    text-align: left;
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.page-title {
    padding-left: 25px;
}

/* projects card */
.container2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
}
.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.tag-green {
    background-color: #1eae2f;
  }
.tag-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.card-body p {
  font-size: 16px;
  margin-top: 10px;
}
.card-h4{
  color: #47005b;
  font-weight: 900;
  font-size: 22px;
  margin-top: 10px;
}
